/* Imports en variabelen */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --yellow:#f5bf23;
  --black:#111;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
  --green:darkgreen;
}



/* Algemeen */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}
section {
  padding: 5rem 10%;
}
.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover {
  background: var(--yellow);
  color: var(--black);
}

@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}



/* Header */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}

.header .logo {
  position: -webkit-sticky;
  position: sticky;
  font-size: 2.5rem;
  color: var(--black);
}

.header .logo span {
  position: -webkit-sticky;
  position: sticky;
  color: var(--yellow);
}

.header .navbar a {
  position: -webkit-sticky;
  position: sticky;
  font-size: 2rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--yellow);
  transition: 1.2s ease-in-out;
  text-decoration: underline;
}

.header .icons div {
  position: -webkit-sticky;
  position: sticky;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: .3rem;
}
.header img.logo{
  width: 120px;
}



/* Home sectie */
.home {
  padding: 0;
}

.home .slide {
  min-height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--white)), to(transparent));
  background: linear-gradient(90deg, var(--white), transparent);
}

.home .slide .content {
  width: 50rem;
  position: relative;
}

.home .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
}

.home .slide .content p {
  font-size: 1.4rem;
  color: black;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  background: rgb(204, 204, 204); /* Terugval voor oudere browsers zonder RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}



/* Over sectie */
.over .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.over .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.over .row .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.over .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.over .box-container {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.over .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}

.over .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
}

.over .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: .5rem;
}
.aboutImage img{
  width: 345px;
  height: 220px;
}



/* Vakken sectie */
.vakken {
  background: var(--light-bg);
}

.vakken .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.vakken .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: var(--border);
}

.vakken .box-container .box:hover img {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.vakken .box-container .box img {
  height: 7rem;
  margin-bottom: .5rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.vakken .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--black);
  padding: 1rem 0;
}

.vakken .box-container .box p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}



/* Docenten sectie */
.docenten {
  background: var(--black);
}

.docenten .heading {
  color: var(--white);
}

.docenten .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.docenten .box-container .box {
  cursor: initial;
}

.docenten .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.docenten .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.docenten .box-container {
  overflow-x: hidden;
}

.docenten .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.docenten .box-container .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--white);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.docenten .box-container .box .content .info {
  padding: 1rem 2rem;
}

.docenten .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}

.docenten .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.docenten .box-container .box .content i {
  width: 7.5rem;
  font-size: 3rem;
  background: var(--yellow);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}



/* Overige content */
.content-overig{
  font-size: 1.4rem;
}
.content-overig h3{
  font-size: 2.5rem;
}



/* Mening sectie */
.mening .slide p {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.mening .slide p::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mening .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.mening .slide .user img {
  height: 7rem;
  width: 7rem;
}

.mening .slide .user h3 {
  font-size: 2rem;
  color: var(--black);
}

.mening .slide .user .stars {
  padding-top: .5rem;
}

.mening .slide .user .stars i {
  font-size: 1.4rem;
  color: var(--yellow);
}



/* Footer */
.footer{
  text-align: center;
}

.footer .links .btn {
  margin: .5rem;
}

.footer .credit {
  font-size: 2rem;
  color: var(--black); 
  margin-top: 2rem;
  padding-top: 1rem;
}

.footer .credit span {
  color: var(--yellow);
}



/* Media queries */
@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header span:hover {
    color: black;
  }
}

@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
  }
  .header .login-form {
    width: 90%;
  }
  .home .slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    overflow-x: hidden;
    font-size: 50%;
  }
  body
  .over .row .content h3 {
    font-size: 2.5rem;
  }
  section.swiper-slide{
    max-width: max-width: 100%;
  }
  section.swiper-slide img{
    max-width: max-width: 100%;
  }
  img{
    max-width: max-width: 100%;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
}























